@{
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>My Site's Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link type="text/css" rel="stylesheet" href="/content/themes/base/jquery.ui.all.css" />
        <link type="text/css" rel="stylesheet" href="/content/css/widgetboard.css" />
    </head>
    <body>

        <div id="head">
            <h1>System Board</h1>
        </div>

        <div id="columns">
            <ul id="column1" class="column">
                <li class="widget color-red">
                    <div class="widget-head">
                        <h3>Widget Title</h3>
                    </div>
                    <div class="widget-content">
                        <p>The content...</p>
                    </div>
                </li>
                <li class="widget color-blue">
                    <div class="widget-head">
                        <h3>Widget Title</h3>
                    </div>
                    <div class="widget-content">
                        <p>The content...</p>
                    </div>
                </li>
                <li class="widget color-green">
                    <div class="widget-head">
                        <h3>Widget Title</h3>
                    </div>
                    <div class="widget-content">
                        <p>The content...</p>
                    </div>
                </li>
                <li class="widget color-red">
                    <div class="widget-head">
                        <h3>Widget Title</h3>
                    </div>
                    <div class="widget-content">
                        <p>The content...</p>
                    </div>
                </li>
            </ul>

            <ul id="column2" class="column">
                <li class="widget color-red">
                    <div class="widget-head">
                        <h3>Instructions</h3>
                    </div>
                    <div class="widget-content">
                        <ul>
                            <li>
                                To move a widget, just hold your mouse down over the top colored bar
                                of the widget and then move it to where you want.
                            </li>
                            <li>
                                You can also close a widget by clicking the 'X' on the top right of any 
                                widget. Collapsing a widget is just as easy; click the down/up arrow on the top
                                left of each widget.
                            </li>
                            <li>
                                To edit the color of a widget or it's title, just click the 'edit' button.
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="widget color-blue">
                    <div class="widget-head">
                        <h3>Widget Title</h3>
                    </div>
                    <div class="widget-content">
                        <p>The content...</p>
                    </div>
                </li>
                <li class="widget color-green">
                    <div class="widget-head">
                        <h3>Widget Title</h3>
                    </div>
                    <div class="widget-content">
                        <p>The content...</p>
                    </div>
                </li>
                <li class="widget color-red">
                    <div class="widget-head">
                        <h3>Widget Title</h3>
                    </div>
                    <div class="widget-content">
                        <p>The content...</p>
                    </div>
                </li>

            </ul>

            <ul id="column3" class="column">
                <li class="widget color-red">
                    <div class="widget-head">
                        <h3>Widget Title</h3>
                    </div>
                    <div class="widget-content">
                        <p>The content...</p>
                    </div>
                </li>
                <li class="widget color-blue">
                    <div class="widget-head">
                        <h3>Widget Title</h3>
                    </div>
                    <div class="widget-content">
                        <p>The content...</p>
                    </div>
                </li>
                <li class="widget color-green">
                    <div class="widget-head">
                        <h3>Widget Title</h3>
                    </div>
                    <div class="widget-content">
                        <p>The content...</p>
                    </div>
                </li>
                <li class="widget color-red">
                    <div class="widget-head">
                        <h3>Widget Title</h3>
                    </div>
                    <div class="widget-content">
                        <p>The content...</p>
                    </div>
                </li>

            </ul>

        </div>

        <script type="text/javascript" src="/scripts/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="/scripts/jquery-ui-1.10.0.js"></script>
        <script type="text/javascript" src="/scripts/widgetboard.js"></script>
    </body>
</html>
